@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request. </h2>
<p>It may be a problem with incorrect cookies. Please clear cache if you keep seeing this error.</p>
<p> Send an <a href="mailto:abrejana@microsoft.com">email</a> along with the HAR file to report this error. Sorry for the inconvinience!</p>

