@{
    ViewData["Title"] = "About";
}

<div class="hero">
    <h2>About</h2>
</div>

<br />
<br />
<br />

<div class="row">
   <p>A simple workforce management application, built by <a href="mailto:abrejana@microsoft.com">Abhilash Rejanair</a> using:</p>
    <ul>
        <li>ASP.NET Core 2</li>
        <li>EntityFramework Core</li>
        <li>jQuery</li>
        <li>FullCalendar</li>
        <li>Bootstrap</li>
    </ul>
    <p>This software is open source. <a href="https://github.com/abhilashr1/Leave">View source</a>. </p>
</div>
