@{
    ViewData["Title"] = "Dashboard";
}

<div class="hero">
    <h2>Hello, @User.Identity.Name.Split('\\')[1]!</h2>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <h2>Pending leaves</h2>
        <p>You have @ViewData["pendingcount"] pending leave requests.</p>
    </div>
    <div class="col-md-4">
        <h2>Approved leaves</h2>
        <p>You have @ViewData["approvedcount"] approved leave requests.</p>
    </div>
    <div class="col-md-4">
        <h2>Denied leaves</h2>
        <p>You have @ViewData["rejectedcount"] denied leave requests.</p>
    </div>
</div>
